<table>
  <thead>
    <tr>
      <th>Comment</th>    
      <th>User</th>
    </tr>
  </thead>

  <tbody>
  
    <% comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>   
        <td ><%= comment.user.email %></td>
        <% if current_user.id == comment.user_id %>
          <td><%= link_to 'Destroy', post_comment_path(post, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add comment', new_post_comment_path(@post), class: "btn btn-secondary" %>
