<% @user ||= current_user %>
<div class="stats">
  <%= link_to "following", following_user_path(@user) %>
    <%= @user.following.count %>

  <%= link_to "followers", followers_user_path(@user) %>
      <%= @user.followers.count %>
</div>